@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --background-image-noise: linear-gradient(
            to bottom,
            color-mix(in oklab, var(--color-neutral-950) 0%, transparent),
            color-mix(in oklab, var(--color-neutral-950) 100%, transparent)
        ),
        url('/images/noise.png');
    --color-primary: #3b82f6;
    --color-primary-content: #ffffff;
    --color-secondary: #8b5cf6;
    --color-bytereach-teal: #064B59;
    --color-bytereach-neon: #E6FF2B;
    --color-bytereach-offwhite: #F0FFF2;
    --color-bytereach-grey: #898A80;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-gradient-to-br from-slate-900 via-blue-950 to-slate-900;
    }

    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    h3 {
        @apply text-xl font-bold;
    }

    a:not(.btn) {
        @apply transition hover:opacity-80;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }
}

@layer components {
    .markdown {
        > * {
            @apply my-4;
        }

        :where(h1, h2) {
            @apply mt-12 mb-6;
        }

        > :first-child {
            @apply mt-0;
        }

        > :last-child {
            @apply mb-0;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center gap-2 font-bold text-center no-underline transition-colors cursor-pointer bg-primary text-primary-content;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.5rem);

        &:hover {
            @apply bg-primary/85;
        }

        &:disabled {
            @apply cursor-default text-neutral-400 bg-neutral-700;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }

    .input {
        @apply px-4 py-3 text-sm border rounded-sm border-neutral-300 text-neutral-900 focus:border-primary focus:outline-3 focus:outline-primary/30;
    }
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 1s ease-in;
    }

    .animate-slide-up {
        animation: slideUp 0.6s ease-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(30px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
